<div class="container-fluid footer containerPadding15">
    <div class="container">
        <div class="row" id="listCountries">
            <div class="col-md-2 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'afrique-du-sud' }) }}">Afrique du Sud</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'algerie' }) }}">Algérie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'allemagne' }) }}">Allemagne</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'argentine' }) }}">Argentine</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'australie' }) }}">Australie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'autriche' }) }}">Autriche</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'belgique' }) }}">Belgique</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'belize' }) }}">Belize</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'birmanie' }) }}">Birmanie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'bolivie' }) }}">Bolivie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'bresil' }) }}">Brésil</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'bulgarie' }) }}">Bulgarie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'cambodge' }) }}">Cambodge</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'canada' }) }}">Canada</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'chili' }) }}">Chili</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'chine' }) }}">Chine</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'colombie' }) }}">Colombie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'costa-rica' }) }}">Costa Rica</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'croatie' }) }}">Croatie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'cuba' }) }}">Cuba</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'danemark' }) }}">Danemark</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'egypte' }) }}">Égypte</a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="{{ path('country', {'slug' : 'emirats-arabes-unis' }) }}">Émirats arabes unis</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'espagne' }) }}">Espagne</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'etats-unis' }) }}">États-Unis</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'finlande' }) }}">Finlande</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'france' }) }}">France</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'grece' }) }}">Grèce</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'guatemala' }) }}">Guatemala</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'hongrie' }) }}">Hongrie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'indonesie' }) }}">Indonésie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'irlande' }) }}">Irlande</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'islande' }) }}">Islande</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'israel' }) }}">Israël</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'italie' }) }}">Italie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'japon' }) }}">Japon</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'jordanie' }) }}">Jordanie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'kenya' }) }}">Kenya</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'laos' }) }}">Laos</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'malaisie' }) }}">Malaisie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'maroc' }) }}">Maroc</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'mexique' }) }}">Mexique</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'mongolie' }) }}">Mongolie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'nepal' }) }}">Népal</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'nicaragua' }) }}">Nicaragua</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'norvege' }) }}">Norvège</a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="{{ path('country', {'slug' : 'nouvelle-zelande' }) }}">Nouvelle-Zélande</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'pays-bas' }) }}">Pays-Bas</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'perou' }) }}">Pérou</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'portugal' }) }}">Portugal</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'qatar' }) }}">Qatar</a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="{{ path('country', {'slug' : 'republique-tcheque' }) }}">République tchèque</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'roumanie' }) }}">Roumanie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'royaume-uni' }) }}">Royaume-Uni</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'russie' }) }}">Russie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'singapour' }) }}">Singapour</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'suede' }) }}">Suède</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'suisse' }) }}">Suisse</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'thailande' }) }}">Thaïlande</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'tunisie' }) }}">Tunisie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'turquie' }) }}">Turquie</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'venezuela' }) }}">Venezuela</a></div>
            <div class="col-md-1 col-sm-2 col-xs-3"><a href="{{ path('country', {'slug' : 'vietnam' }) }}">Vietnam</a></div>
        </div>

    </div>
</div>
