{% extends "::layout.html.twig" %}

{% block metaDescription %}Contacter Le Monde en Sac pour proposer ou demander une destination, ou simplement nous encourager.{% endblock %}
{% block metaKeyword %}, contact, proposer une destination{% endblock %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% set title = "Contacter Le Monde en Sac" %}

{% set bannerMartiniqueUrl = image_banner_homepage_path ~ 'martinique.JPG' %}
{% block opengraph %}
    {{ parent() }}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ absolute_url(asset(bannerMartiniqueUrl)) }}"/>
{% endblock %}


{% block tweeterCard %}
    {{ parent() }}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Envie de nous écrire ? Contacter le Monde en Sac">
    <meta name="twitter:image" content="{{ absolute_url(asset(bannerMartiniqueUrl)) }}">
{% endblock %}


{% block body %}

    <div class="container-fluid containerPadding containerContact" id="contactContainer">
        <div class="row">

            <div class="col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-1 page-header">
                <h1>Contact</h1>
            </div>

            <div class="col-sm-6 col-sm-offset-1 col-lg-5 col-lg-offset-1 well">

                <form action="#" method="post">

                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="email" class="form-control" id="email" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="subject">Sujet *</label>
                        <input type="text" class="form-control" id="subject" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="message">Message *</label>
                        <textarea id="message" class="form-control" rows="10"></textarea>
                    </div>


                    <div>
                        <button type="submit" id="_submit" class="btn btn-raised btn-primary" name="_submit">
                            <i class="fa fa-envelope"></i> Envoyer
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'phnom-penh' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-jose' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'ushuaia' })) }}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var sendEmailUrl = "{{ path('sendEmail') }}";
    </script>
    <script src="{{ asset('js/contact.min.js') }}"></script>
{% endblock %}


