{% set title = "Contact" %}
{% set titleMetaData = "Contacter Le Monde en Sac" %}
{% set keywords = "contact, proposer une destination" %}
{% set description = "Envie de nous écrire ? Contacter Le Monde en Sac pour proposer ou demander une destination, ou simplement nous encourager." %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% extends "::layout.html.twig" %}


{% block body %}

    <div class="container-fluid containerPadding containerContact" id="contactContainer">
        <div class="row">

            <div class="col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-1 page-header">
                <h1>Contact</h1>
            </div>

            <div class="col-sm-6 col-sm-offset-1 col-lg-5 col-lg-offset-1">
                <div class="well">

                    <form action="#" method="post">

                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email" required="required"/>
                        </div>

                        <div class="form-group">
                            <label for="subject">Sujet *</label>
                            <input type="text" class="form-control" id="subject" required="required"/>
                        </div>

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" class="form-control" rows="10"></textarea>
                        </div>


                        <div>
                            <button type="submit" id="_submit" class="btn btn-raised btn-primary" name="_submit">
                                <i class="fa fa-envelope"></i> Envoyer
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'phnom-penh' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-jose' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'ushuaia' })) }}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var sendEmailUrl = "{{ path('sendEmail') }}";
    </script>
    {% javascripts output='js/contact/app.{version}.min.js' '@AppBundle/Resources/public/js/dist/contact/*.min.js' vars=["version"] %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


