{% extends "::layout.html.twig" %}

{% block title %}
    Email envoyé - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerBlue containerPadding">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <p class="text-center lead">
                    Votre email a bien été envoyé, nous y répondrons dans les plus bref délais !
                </p>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    <a class="btn btn-raised btn-success" href="{{ path('homepage') }}" role="button">
                        Retour à la page d'accueil
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 150px;"></div>
    </div>

    <div class="container-fluid containerPadding">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'barcelone' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'katmandou' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'phnom-penh' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'saint-petersbourg' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-jose' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'ushuaia' })) }}
            </div>
        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 50px;"></div>
    </div>

{% endblock %}
