<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="p:domain_verify" content="9a191bbb095ba0d551351bc592ab724d"/>
    <meta name="p:domain_verify" content="b232678907f1fbdff8ffa2a7d3cde193"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">

    {% include '::metadata.html.twig' %}

    {% block metaData %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap-material-design/dist/css/bootstrap-material-design.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap-material-design/dist/css/ripples.min.css') }}">

        {% stylesheets output='css/app.{version}.min.css' '@AppBundle/Resources/public/css/dist/*' vars=["version"] filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

</head>

<body>
{% include '::connectionModal.html.twig' %}
{% include '::header.html.twig' %}

<main>
    {% block body %}
    {% endblock %}
</main>

{% block footer %}
    {% include '::footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>

    {% javascripts output='js/common/app.{version}.min.js' '@AppBundle/Resources/public/js/dist/common/*.min.js' vars=["version"] %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var navbarInfosUrl = null;
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        navbarInfosUrl = "{{ path('navbarInfos') }}";
        {% endif %}
    </script>
{% endblock %}

</body>
</html>



