<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width">

    <meta name="description"
          content="{% block metaDescription %}Informez-vous sur les pays, planifiez votre itinéraire, évaluez votre budget et ... Partez !{% endblock %}"/>
    <meta name="keywords" content="voyage, tour du monde, pays, le monde en sac{% block metaKeyword %}{% endblock %}"/>

    <link rel="canonical"
          href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>

    <title>{% block title %}Le Monde en Sac{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/dist/css/bootstrap.min.css') }}">
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

</head>

<body>
{#{% include '::connectionModal.html.twig' %}#}
{% include '::header.html.twig' %}

<main>
    {% block body %}
    {% endblock %}
</main>

<div id="footer-container">
    {% block footer %}
        {% include '::footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('assets/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script>
        var navbarInfosUrl = null;
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        navbarInfosUrl = "{{ path('navbarInfos') }}";
        {% endif %}
        (function ($) {

            $.updateNavBarInfos = function (voyageId) {
                if (navbarInfosUrl == null) {
                    return;
                }
                var $navBarInfo = $("#navBarInfos");
                $navBarInfo.empty();
                $navBarInfo.append('<i class="fa fa-spinner fa-pulse"></i>');

                $.post(navbarInfosUrl, {}, function (response) {
                    $navBarInfo.empty();
                    $navBarInfo.append(response.viewInfos)
                }, "json");
            };

        })($);

        $.updateNavBarInfos();
    </script>
{% endblock %}

</body>
</html>



