{% set title = voyage.name %}
{% set description = "Tableau de bord du voyage  : " ~ voyage.name ~ ". " %}
{% if stagesSorted|length > 0 %}
    {% for stage in stagesSorted|slice(0, 5) %}
        {% set description = description ~ stage.destination.name %}

        {% if loop.index0 < 5 and not loop.last %}
            {% set description = description ~ ", " %}
        {% endif %}
    {% endfor %}

    {% if stagesSorted|length > 5 %}
        {% set description = description ~ " ..." %}
    {% endif %}
{% endif %}

{% set type = "article" %}
{% set imageUrl = image_banner_homepage_path ~ 'USA_raw.JPG' %}
{% if voyageStats.mainDestination is not empty %}
    {% set imageUrl = image_banner_destinations_path ~ voyageStats.mainDestination.slug ~ '.JPG' %}
{% endif %}

{% extends "::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calculator.min.css') }}">
{% endblock %}


{% block body %}
    <div id="shareVoyage">

        {% include 'CalculatorBundle:Voyage:dashboardHeader.html.twig' with {'hideModifyBtn' : true} %}

        {% include 'CalculatorBundle:Voyage:dashboardGmap.html.twig' %}

        {% include 'CalculatorBundle:Voyage:dashboardDestinationsList.html.twig' with {'hidePrices' : not voyage.showPricesInPublic, 'allowModification' : false} %}

        {% include 'CalculatorBundle:Voyage:dashboardStats.html.twig' with {'hidePrices' : not voyage.showPricesInPublic} %}

    </div>
{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('assets/maplace-js/dist/maplace.min.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
    </script>
    <script src="{{ asset('js/shareVoyage.min.js') }}"></script>
{% endblock %}
