{% if stage.destination is not null %}
    {% set destination = stage.destination %}
    {% set country = destination.country %}
    {% set totalPrices = destination.totalPrices %}
{% else %}
    {% set country = stage.country %}
    {% set totalPrices = country.totalPrices %}
{% endif %}
{% set stageStats = voyageStats.stagesStats[stage.id] %}

<li data-stage-id="{{ stage.id }}">
    <div class="row stageStyle stageStylePadding">

        <div class="col-md-2 col-sm-1 col-xs-6 ellipsis">
            <img class='flagCountrySmall flagCountryStage'
                 src='http://www.geonames.org/flags/x/{{ country.codeAlpha2|lower }}.gif'/>
            <a class="hidden-sm" href="{{ path('country', {'slug' : country.slug }) }}">{{ country.name }}</a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 ellipsis">
            {% if destination is defined %}
                <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
            {% endif %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-11 hidden-xs">
            <span class="stageStartDate" data-stage-id="{{ stage.id }}">
                {{ stageStats.dateFrom|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}
            </span>
            <span class="stageStars pull-right" data-stage-id="{{ stage.id }}">
                {{ stageStats.starsView | raw }}
            </span>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6 colNbDays">
            {% include 'AppBundle:Common:nbDays.html.twig' with {'nbDays' : stage.nbDays} %}

            {% if hidePrices %}
            <span class="handle-fa-icon pull-right"><i class="fa fa-lg fa-lock"></i></span>
            {% else %}
                {% if not loop.last %}
                    <span class="pull-right spanPrices" data-stage-id="{{ stage.id }}">
                        {% set priceAndTimeTransport = stage.priceAndTimeTransport %}
                        {% if priceAndTimeTransport is null %}
                        {% else %}

                            <span class="label label-warning"
                                {% if priceAndTimeTransport.time %}
                                    data-toggle="tooltip" data-placement="left"
                                    title="{{ priceAndTimeTransport.time|journeyTime }}"
                                {% endif %}>

                                {% if priceAndTimeTransport.transportType == "FLY" %}
                                    <i class="fa fa-plane iconPriceJourney"></i>
                                {% elseif priceAndTimeTransport.transportType == "BUS" %}
                                    <i class="fa fa-road iconPriceJourney"></i>
                                {% elseif priceAndTimeTransport.transportType == "TRAIN" %}
                                    <i class="fa fa-train iconPriceJourney"></i>
                                {% elseif priceAndTimeTransport.transportType == "NONE" %}
                                {% endif %}

                                {{ priceAndTimeTransport.price|number_format(0, ',', ' ') }} €
                                </span>
                        {% endif %}
                    </span>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 colDeleteStage">
            <span class="stagePrice pull-right" data-stage-id="{{ stage.id }}">
                {% if hidePrices %}
                    <span class="handle-fa-icon"><i class="fa fa-lg fa-lock"></i></span>
                {% else %}
                    <span class="label label-success">
                        {{ (totalPrices * stage.nbDays)|number_format(0, ',', ' ') }} €
                    </span>
                {% endif %}
            </span>
        </div>
    </div>
</li>
