{% set title = voyage.name %}
{% set description = "Tableau de bord du voyage  : " ~ voyage.name ~ ". " %}
{% if stagesSorted|length > 0 %}
    {% for stage in stagesSorted|slice(0, 5) %}
        {% if stage.destination is not null %}
            {% set description = description ~ stage.destination.name %}
        {% else %}
            {% set description = description ~ stage.country.name %}
        {% endif %}

        {% if loop.index0 < 5 and not loop.last %}
            {% set description = description ~ ", " %}
        {% endif %}
    {% endfor %}

    {% if stagesSorted|length > 5 %}
        {% set description = description ~ " ..." %}
    {% endif %}
{% endif %}

{% set type = "article" %}
{% set imageUrl = image_banner_homepage_path ~ 'USA_raw.JPG' %}
{% if voyageStats.mainDestination is not empty %}
    {% set imageUrl = image_banner_destinations_path ~ voyageStats.mainDestination.slug ~ '.JPG' %}
{% endif %}

{% extends "::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/calculator.{version}.min.css' '@CalculatorBundle/Resources/public/css/dist/*' vars=["version"] filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <div id="shareVoyage">

        {% include 'CalculatorBundle:Voyage:dashboardHeader.html.twig' with {'hideModifyBtn' : true} %}

        {% include 'CalculatorBundle:Voyage:dashboardGmap.html.twig' %}

        {% include 'CalculatorBundle:Voyage:dashboardDestinationsList.html.twig' with {'hidePrices' : not voyage.showPricesInPublic, 'allowModification' : false} %}

        {% include 'CalculatorBundle:Voyage:dashboardStats.html.twig' with {'hidePrices' : not voyage.showPricesInPublic} %}

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Common:mapScriptsImportation.html.twig' %}
    <script>
        var listCountriesInVoyage = {{ voyageStats.listCountries|json_encode|raw }};
    </script>
    {% javascripts output='js/share/app.{version}.min.js' '@CalculatorBundle/Resources/public/js/dist/share/*.min.js' vars=["version"] %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
