{% set destination = stage.destination %}
{% set stageStats = voyageStats.stagesStats[stage.id] %}

<li class="stageStyle" data-stage-id="{{ stage.id }}">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 ellipsis">
            <img class='flagCountrySmall flagCountryStage'
                 src='http://www.geonames.org/flags/x/{{ destination.country.codeAlpha2|lower }}.gif'/>
            <a href="{{ path('country', {'slug' : destination.country.slug }) }}">{{ destination.country.name }}</a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6 ellipsis">
            {% if destination.isPartial %}
                {{ destination.name }}
            {% else %}
                <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
            {% endif %}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-9">
            {{ stageStats.dateFrom|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}
            <span class="stageStars pull-right" data-stage-id="{{ stage.id }}">
                {{ stageStats.starsView | raw }}
            </span>
        </div>

        <div class="col-md-3 col-sm-2 col-xs-3 text-right">
            <span class="label label-success">
                {{ stage.nbDays }} jour{% if stage.nbDays > 2 %}s{% endif %}
            </span>
        </div>
    </div>
</li>
