<div class="col-md-4 col-sm-6 containerPadding15">

    {{ dump(stats.mainDestinations ) }}

    {#{% set imageUrl = image_banner_default %}#}
    {#{% if stats.mainDestination.slug is defined %}#}
        {#{% set bannerAssetURL = image_banner_destinations_path ~ stats.mainDestination.slug ~ '.JPG' %}#}
    {#{% else %}#}
        {#{% set bannerAssetURL = image_banner_destinations_path ~ voyage.startDestination.slug ~ '.JPG' %}#}
    {#{% endif %}#}
    {#{% if bannerAssetURL|asset_exists %}#}
        {#{% set imageUrl = bannerAssetURL %}#}
    {#{% endif %}#}

    {#<a href="{{ url('voyage', {'token' : voyage.token}) }}">#}
        {#<div class="row">#}
            {#<div class="col-xs-12">#}
                {#<img src="{{ asset(imageUrl) }}"#}
                     {#class="img-responsive"#}
                     {#alt="{{ voyage.name }}">#}
            {#</div>#}
            {#<div class="col-xs-6 imageLeft">#}
                {#<img src="{{ asset(imageUrl) }}"#}
                     {#class="img-responsive"#}
                     {#alt="{{ voyage.name }}">#}
            {#</div>#}
            {#<div class="col-xs-6 imageRight">#}
                {#<img src="{{ asset(imageUrl) }}"#}
                     {#class="img-responsive"#}
                     {#alt="{{ voyage.name }}">#}
            {#</div>#}
        {#</div>#}

        {#<h2 class="text-center ellipsis">{{ voyage.name }}</h2>#}
    {#</a>#}

    {#<div class="text-center">#}
        {#<span class="label label-warning">{{ stats.nbDays }} jours</span>#}
        {#<span class="label label-success">{{ stats.totalCost|number_format(0, ',', ' ') }} &euro;</span>#}
    {#</div>#}

</div>
