{% set activeDestinations = true %}
{% extends "::layout.html.twig" %}

{% block metaDescription %}Pays - {{ country.name }}. Visa : {{ country.visaInformation }} - {{ country.visaDuration }}{% endblock %}
{% block metaKeyword %}, pays, {{ country.name }}, informations{% endblock %}


{% block title %}
    {{ country.name }} - {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-social.css') }}">
{% endblock %}


{% block body %}
    <div id="countryView">

        {% set bannerAssetURL = image_banner_countries_path ~ country.slug ~ '.JPG' %}
        {% set bannerUrl = image_banner_default %}
        {% if bannerAssetURL|asset_exists %}
            {% set bannerUrl = bannerAssetURL %}
        {% endif %}

        <img src="{{ asset(bannerUrl) }}" class="img-responsive" alt="{{ country.name }}">

        <div class="container-fluid">
            <div class="container page-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            {{ country.name }}
                        </h1>
                    </div>
                    <div class="col-sm-2">
                        <img src="http://www.geonames.org/flags/x/{{ country.codeAlpha2|lower }}.gif"
                             class="img-responsive pull-right hidden-xs flagCountry" alt="drapeau {{ country.name }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid containerMap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 destinationsCountryList">
                        <div class="row">
                            <h2>Destination{% if country.destinations|length > 1 %}s{% endif %}</h2>

                            {% set capitalDestination = null %}
                            {% for destination in country.destinations %}
                                <div class="col-md-12 col-sm-6 col-xs-6 containerPadding15">
                                    {% include 'AppBundle:Vignette:destinationContent.html.twig' %}
                                </div>
                                {% if country.capitalName == destination.name %}
                                    {% set capitalDestination = destination %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8 destinationsGmap">
                        <div id="gmap"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tableCountryInformation" class="container-fluid containerOrange containerPadding">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h2>Informations utiles</h2>
                    </div>

                    <div class="col-md-6">
                        <table class="table">
                            <tr>
                                <th>Capitale</th>
                                <td>
                                    {% if capitalDestination is not null %}
                                        <a href="{{ path('destination', {'slug' : capitalDestination.slug }) }}">{{ country.capitalName }}</a>
                                    {% else %}
                                        {{ country.capitalName }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Visa</th>
                                <td>{{ country.visaInformation }}</td>
                            </tr>
                            <tr>
                                <th>Durée du Visa</th>
                                <td>{{ country.visaDuration }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table">
                            <tr>
                                <th>Devise</th>
                                <td>{{ country.currency }}</td>
                            </tr>
                            <tr>
                                <th>Langues</th>
                                <td>{{ country.languages|join(' - ') }}</td>
                            </tr>
                            <tr>
                                <th>Population</th>
                                <td>{{ country.population|number_format(0, ',', ' ') }} habitants</td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>
        </div>

        {#{% include 'AppBundle:Country:countryShare.html.twig' %}#}

    </div>
{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('/js/maplace.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
    </script>
    <script src="{{ asset('bundles/app/js/country/maplaceCountry.js') }}"></script>
    <script src="{{ asset('bundles/app/js/country/country.js') }}"></script>

{% endblock %}


