{% set destination = stage.destination %}
<li data-stage-id="{{ stage.id }}">
    <div class="row">
        <div class="col-sm-3">
            <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
        </div>
        <div class="col-sm-3">
            <img class='flagCountrySmall flagCountryStage' src='http://www.geonames.org/flags/x/{{ destination.country.codeAlpha2|lower }}.gif'/>
            <a href="{{ path('country', {'slug' : destination.country.slug }) }}">{{ destination.country.name }}</a>
        </div>
        <div class="col-sm-3">
            <span class="stageStars" data-stage-id="{{ stage.id }}">
                {{ voyageStats.stagesStats[stage.id].starsView | raw }}
            </span>
        </div>
        <div class="col-sm-3">
            {{ stage.nbDays }} jour{% if stage.nbDays > 2 %}s{% endif %}
        </div>
    </div>
</li>
