{% set description = "Informez-vous sur les pays, planifiez votre itinéraire de tour du monde, évaluez votre budget et partez en sac à dos ! Le Monde en Sac" %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}
{% set forceTitle = "Le Monde en Sac - Planificateur de voyages" %}

{% extends "::layout.html.twig" %}

{% block metaData %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name" : "Le Monde en Sac",
        "url": "http://www.lemondeensac.com/",
        "logo": "http://www.lemondeensac.com/avatar.png",
        "sameAs" : [
            "https://twitter.com/LeMondeEnSac",
            "https://plus.google.com/+Lemondeensac"
        ]
    }
    </script>
{% endblock %}

{% block body %}

    <div id="homepage">

        {% include 'AppBundle:Homepage:homepageCarousel.html.twig' %}

        <div id="homepagePresentation" class="container-fluid containerPadding text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="lead">
                        Informez-vous sur les pays, planifiez votre itinéraire, évaluez votre budget et ... Partez !
                    </p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-4">
                    <h3>Pour les voyageurs ...</h3>

                    <p class="text-center">
                        Que vous soyez backpackers, tourdumondistes ou simples curieux, venez décourir de nouvelles
                        idées de voyage.
                    </p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <h3>... Par des voyageurs</h3>

                    <p class="text-center">

                        Le Monde en Sac est basé sur des expériences d'explorateurs. N’hésitez pas à nous donner vos
                        bons
                        plans et à nous envoyer les destinations que vous souhaiteriez voir apparaitre.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <h3>Pays et destinations</h3>

                    <p class="text-center">
                        Plus de 100 fiches contenant une courte description de la destination, le prix moyen d'une
                        journée sur place en sac à dos et d'autres informations utiles.
                    </p>
                </div>


                {#<div class="col-md-5 col-sm-6">#}
                {#<h2>Préparer un voyage</h2>#}

                {#<p class="text-center">#}
                {#Ce site vous permet d'organiser au mieux vos voyages. Choisissez vos destinations, le temps#}
                {#que vous souhaitez y rester et vous saurez si vous y êtes aux bonnes périodes et combien#}
                {#votre voyage vous coûtera.#}
                {#</p>#}
                {#</div>#}
            </div>

            {#<div id="connectionRow" class="row">#}
            {#<div class="col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-3 col-xs-6">#}
            {#<button type="button" class="btn btn-primary btn-lg btn-block pull-left"#}
            {#data-toggle="modal" data-target="#connectionModal">#}
            {#<i class="fa fa-sign-in"></i> Connexion#}
            {#</button>#}
            {#</div>#}
            {#<div class="col-md-2 col-sm-3 col-xs-6">#}
            {#<a href="{{ path('fos_user_registration_register') }}" role="button"#}
            {#class="btn btn-success btn-lg btn-block pull-right">#}
            {#<i class="fa fa-user"></i> Inscription</a>#}
            {#</div>#}
            {#</div>#}
        </div>

        <div class="container-fluid containerPadding text-center">

            <a href="https://twitter.com/LeMondeEnSac" class="twitter-follow-button" data-show-count="false"
               data-size="large">Follow @LeMondeEnSac</a>

            {#<div#}
            {#class="fb-like"#}
            {#data-share="false"#}
            {#data-width="450"#}
            {#data-show-faces="true">#}
            {#</div>#}

        </div>

        <div class="container-fluid containerPadding containerGrey text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2>Planificateur de voyage</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid containerPadding15 containerGrey text-justify">
            <div class="row">
                <div class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-2 col-xs-2 col-lg-1 col-lg-offset-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                </div>
                <div class="col-md-5 col-sm-7 col-xs-10 col-lg-8">
                    <p>Préparer un tour du monde prend beaucoup de temps. Nous nous en sommes aperçus en cherchant les
                        nombreuses informations utiles pour le nôtre. Idées d'itinéraires, périodes favorables ou encore
                        budget journalier par destinations sont autant de questions que l'on se pose.
                        C'est pourquoi nous avons développé un planificateur qui permet facilement d'organiser
                        son voyage.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid containerPadding15 containerGrey text-justify">
            <div class="row">
                <div class="col-md-offset-3 col-md-5 col-sm-7 col-sm-offset-2 col-xs-12 col-lg-8 col-lg-offset-2">
                    <p>En quelques clics, vous aurez un apercu des meilleures périodes pour visiter les destinations,
                        une estimation du coût de chaque étape, et vous pourrez budgeter votre voyage en sac à dos.
                        Que se soit pour préparer un tour du monde, planifier un tour d'europe, faire un road trip en
                        Amérique ou un simple weekend en mode backpack, le planificateur de voyage vous sera utile.
                    </p>
                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 text-right hidden-xs">
                    <i class="fa fa-map-signs fa-5x"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <a href="{{ path('dashboard') }}"
                       class="btn btn-raised btn-lg btn-block btn-primary">
                        <i class="fa fa-globe"></i> Commencez votre voyage</a>
                </div>
            </div>
        </div>


        <div id="homepageGmap" class="container-fluid borderBotOrange backgroundWhite containerPadding">
            <div class="row" id="rowGmapText">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <h2 class="text-center titleOrange">Liste des destinations</h2>

                    <p class="text-center">Plus de 100 destinations sont en cours de référencement, nous en ajouterons
                        régulièrement.
                        Si vous souhaitez voir apparaitre une destination,
                        <a href="{{ path('contact') }}">n'hésitez pas à nous la demander.</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="gmapPadding">
                        <div id="gmap"></div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <p><img src="http://maps.google.com/mapfiles/marker.png"> : Fiche destination complète. <img src="http://labs.google.com/ridefinder/images/mm_20_orange.png"> : Fiche destination en cours d'écriture.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid containerPadding">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                    <h3>Dernières destinations ajoutées</h3>
                    {% for destination in lastDestinationsCreated %}
                        {% include 'AppBundle:Vignette:destination.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('assets/maplace-js/dist/maplace.min.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
    </script>
    {% javascripts output='js/homepage/app.{version}.min.js' '@AppBundle/Resources/public/js/dist/homepage/*.min.js' vars=["version"] %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


