{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <div id="homepage">

        {% include 'AppBundle:Homepage:homepageCarousel.html.twig' %}

        <div class="container-fluid containerPadding">
            <div id="homepagePresentation" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Pegase Vous permet de préparer vos voyages, et vous donne une estinmation
                            du
                            prix. Gérez les saisons
                            et l'enchainement des destinations afin de préparer au mieu votre voyage . bla
                            blabalbalablab bl
                            ba
                            labal bb balb albalbab b ab alb lab lab lab . b lab albab laa babl lba ab b lbab b ab alb
                            lab
                            lab
                            lab . b lab albab laa babl lba ab b lbab b ab alb lab lab lab . b lab albab laa babl lba ab
                            b
                            alalbab b ab alb lab lab lab . b lab albab laa babl lba ab b lb
                            lbab b ab alb lab lab lab . b lab albab laa babl lba ab b alba . nal na. a
                            na mn !!</p>
                    </div>
                </div>

                <div id="connectionRow" class="row">
                    <div class="col-md-2 col-md-offset-4">
                        <button type="button" class="btn btn-primary btn-lg btn-block pull-left"
                                data-toggle="modal" data-target="#connectionModal">
                            <i class="fa fa-sign-in"></i> Connexion
                        </button>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('fos_user_registration_register') }}" role="button"
                           class="btn btn-success btn-lg btn-block pull-right">
                            <i class="fa fa-user"></i> Inscription</a>
                    </div>

                </div>
            </div>
        </div>


        <div id="homepageGmap" class="container-fluid containerOrange containerPadding">
            <div class="container">
                <div class="row" id="rowGmapText">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2 class="text-center">Liste des destinations</h2>

                        <p class="text-center">Plus de 100 destinations sont référencées. La liste s'enrichie grâce à la
                            communauté des voyageurs. <a href="{{ path('contact') }}">Cliquez ici pour nous proposer vos destinations !</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="gmap"></div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'AppBundle:Vignette:vignettesHomepage.html.twig' %}

    </div>

{% endblock %}


{% block footer %}
    {{ parent() }}
    {% include 'AppBundle:Common:listCountries.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('/js/maplace.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
    </script>
    <script src="{{ asset('bundles/app/js/homepage/maplaceHomepage.js') }}"></script>
    <script src="{{ asset('bundles/app/js/homepage/homepage.js') }}"></script>
{% endblock %}


