{% set title = "Inscription" %}
{% set description = "Inscription sur Le Monde en Sac. Préparez vos voyages !" %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% set activeRegister = true %}
{% extends "::layout.html.twig" %}


{% block body %}

    <div class="container-fluid containerPadding">

        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <div class="page-header">
                    <h1>Inscription</h1>
                </div>
                <a href="{{ path('fos_user_security_login') }}">Déjà inscrit ? Cliquer ici !</a>
            </div>

            <div class="col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <div class="well">

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                        <div class="form-group">
                            {{ form_label(form.username, "Nom d'utilisateur") }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.username) }}
                        </div>


                        <div class="form-group">
                            {{ form_label(form.email, "Email ") }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, "Mot de passe ") }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, "Confirmation du mot de passe ") }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="text-center">
                            <button type="submit" id="_submit" class="btn btn-raised btn-primary" name="_submit">
                                <i class="fa fa-user"></i> Inscription
                            </button>
                        </div>

                        {{ form_widget(form) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'hanoi' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-jose' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'vienne' })) }}
            </div>
        </div>
    </div>

{% endblock %}
