{% extends "::layout.html.twig" %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerOrange containerPadding">
        <div class="container">

            <div class="row">

                <div class="col-sm-3 col-sm-offset-1">
                    <h1>Inscription</h1>
                </div>

                <div class="col-sm-4 col-sm-offset-1">


                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
                          class="fos_user_registration_register">

                        <div class="form-group">
                            {{ form_label(form.username, "Nom d'utilisateur") }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.username) }}
                        </div>


                        <div class="form-group">
                            {{ form_label(form.email, "Email ") }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, "Mot de passe ") }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, "Confirmation du mot de passe ") }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="text-center">
                            <button type="submit" id="_submit" class="btn btn-primary" name="_submit">
                                <i class="fa fa-user"></i> Inscription
                            </button>
                        </div>

                        {{ form_widget(form) }}

                    </form>


                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle:Vignette:vignettesRegister.html.twig' %}

{% endblock %}
