{% extends "::layout.html.twig" %}

{% block title %}
    Création de votre voyage - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('/css/select2-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/datepicker.css') }}">
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerOrange containerPadding">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-sm-offset-1">
                    <h1>Création de votre voyage</h1>
                </div>
            </div>
        </div>
    </div>



    <div id="createVoyage" class="container-fluid containerPadding containerGrey">
        <div class="col-sm-8 col-sm-offset-2">

            {% include 'AppBundle:Voyage:createForm.html.twig' %}

        </div>
    </div>


    {% include 'AppBundle:Vignettes:vignettesCreateVoyage.html.twig' %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.fr.js') }}"></script>
    <script>
        var voyageCRUDCreateUrl = "{{ path('voyageCRUDCreate') }}";
    </script>
    <script src="{{ asset('bundles/app/js/voyage/createVoyage.js') }}"></script>
{% endblock %}


