{% set activeDashboard = true %}
{% extends "::layout.html.twig" %}

{% block title %}
    Création de votre voyage - {{ parent() }}
{% endblock %}

{#   DOC Select 2   #}
{#https://github.com/select2/select2/releases/tag/3.5.3#}
{#https://fk.github.io/select2-bootstrap-css/index.html#}
{#http://select2.github.io/select2/#}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/datepicker.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/select2/select2-bootstrap.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid containerOrange containerPadding">
        <div class="container">
            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <h1>Création de votre voyage</h1>
                </div>
            </div>
        </div>
    </div>



    <div id="createVoyage" class="container-fluid containerPadding containerGrey">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    {% include 'AppBundle:Voyage:createForm.html.twig' %}

                </div>
            </div>
        </div>
    </div>


    {% include 'AppBundle:Vignettes:vignettesCreateVoyage.html.twig' %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/select2/select2.js') }}"></script>
    <script src="{{ asset('/js/select2/select2_locale_fr.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.fr.js') }}"></script>
    <script>
        var voyageCRUDCreateUrl = "{{ path('voyageCRUDCreate') }}";
    </script>
    <script src="{{ asset('bundles/app/js/voyage/createVoyage.js') }}"></script>
{% endblock %}


