{% set activeDashboard = true %}
{% extends "::layout.html.twig" %}


{% block title %}
    {{ voyage.name }} - tableau de bord - {{ parent() }}
{% endblock %}


{% block stylesheets %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('/css/select2-bootstrap.min.css') }}">
    {{ parent() }}
{% endblock %}


{% block body %}
    <div id="dashboard">


        <div class="container-fluid">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ voyage.name }}</h1>
                    </div>
                </div>

                <div class="row" style="padding: 30px">
                    <div class="col-md-12">
                        <div id="gmap"></div>
                    </div>
                </div>

            </div>
        </div>


        <div class="container-fluid" id="containerAddDestination">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Ajouter une destination</h3>

                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="destination">Destination</label>
                                        {% include 'AppBundle:Destination:selectDestination.html.twig' %}
                                    </div>
                                    <div class="form-group">
                                        <label for="numberDays">Nombre de jours</label>
                                        {% include 'AppBundle:Destination:selectNbDays.html.twig' %}
                                    </div>
                                    <button type="submit" class="btn btn-default btn-success">
                                        <i class="fa fa-plus"></i> Ajouter
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid" style="padding-bottom: 30px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Liste des destinations</h3>
                    </div>
                    <div class="col-md-12">
                        <ul id="listDestinations">
                            {% for stage in stagesSorted %}
                                {% include 'AppBundle:Voyage:stage.html.twig' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid containerBlue">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h3>Tableau de bord de votre voyage</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <h4>
                                Nombre d'étapes<span
                                        class="pull-right label label-danger">{{ voyageStats.nbStages }}</span>
                            </h4>
                            <h4>
                                Coût moyen estimé, sans transport<span
                                        class="pull-right label label-danger">{{ voyageStats.totalCost }}€</span>
                            </h4>
                            <h4>
                                Durée du voyage<span class="pull-right label label-danger">
                            {{ voyageStats.nbDays }} jour{% if voyageStats.nbDays > 1 %}s{% endif %}</span>
                            </h4>
                            <h4>
                                Date de départ<span
                                        class="pull-right label label-danger">{{ voyageStats.startDate|date("d/m/Y") }}</span>
                            </h4>
                            <h4>
                                Date de retour<span
                                        class="pull-right label label-danger">{{ voyageStats.endDate|date("d/m/Y") }}</span>
                            </h4>
                            <h4>
                                Nombre de pays traversés<span
                                        class="pull-right label label-danger">{{ voyageStats.nbCountries }}</span>
                            </h4>
                            <h4>
                                Distance parcourue à vol d'oiseau <span
                                        class="pull-right label label-danger">{{ voyageStats.crowFliesDistance|round }}
                                    km</span>
                            </h4>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        Date de départ
                    </div>
                </div>

            </div>
        </div>


    </div>
{% endblock %}


    {% block javascripts %}
        <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
        {{ parent() }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script src="//cdn.jsdelivr.net/sortable/1.2.1/Sortable.min.js"></script>
        <script src="{{ asset('/js/maplace.js') }}"></script>
        <script>
            var maplaceData = {{ maplaceData|raw }};
            var changePositionStageUrl = "{{ path('changePositionStage', {'id' : 0}) }}";
            var addStageUrl = "{{ path('addStage', {'id' : 0}) }}";
            var removeStageUrl = "{{ path('removeStage', {'id' : 0}) }}";
        </script>
        <script src="{{ asset('bundles/app/js/dashboard/dashboard.js') }}"></script>

    {% endblock %}


