{% set activeDashboard = true %}
{% extends "::layout.html.twig" %}


{% block title %}
    {{ voyage.name }} - tableau de bord - {{ parent() }}
{% endblock %}


{% block stylesheets %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('/css/select2-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/datepicker.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-social.css') }}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
{% endblock %}


{% block body %}
    <div id="dashboard">

        {% include 'AppBundle:Voyage:dashboardHeader.html.twig' %}

        <div class="container-fluid">
            <div class="container">
                <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="col-md-12">
                        <div id="gmap"></div>
                    </div>
                </div>

            </div>
        </div>

        {% include 'AppBundle:Voyage:dashboardAddDestination.html.twig' %}

        {% include 'AppBundle:Voyage:dashboardDestinationsList.html.twig' %}

        <span id="dashboardStatsContainer">
            {% include 'AppBundle:Voyage:dashboardStats.html.twig' %}
        </span>

        {% include 'AppBundle:Voyage:dashboardShare.html.twig' %}

        {% include 'AppBundle:Voyage:updateModal.html.twig' %}

    </div>
{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="//cdn.jsdelivr.net/sortable/1.2.1/Sortable.min.js"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.fr.js') }}"></script>
    <script src="{{ asset('/js/maplace.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
        var changePositionStageUrl = "{{ path('changePositionStage', {'id' : 0}) }}";
        var addStageUrl = "{{ path('addStage', {'id' : 0}) }}";
        var removeStageUrl = "{{ path('removeStage', {'id' : 0}) }}";
        var changeNbDaysStageUrl = "{{ path('changeNbDaysStage') }}";

        var currentVoyageName = "{{ voyage.name }}";
        var currentStartDestinationId = "{{ voyage.startDestination.id }}";

        var currentStartDate = new Date(
                {{ voyage.startDate|date('Y') }},
                {{ voyage.startDate|date('m') }} -1,
                {{ voyage.startDate|date('d') }});

        var voyageCRUDUpdateUrl = "{{ path('voyageCRUDUpdate', {'id' : voyage.id}) }}";
    </script>
    <script src="{{ asset('bundles/app/js/dashboard/dashboard.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dashboard/updateVoyage.js') }}"></script>

{% endblock %}


