{% set destination = stage.destination %}
{% set toolTipData = voyageStats.stagesStats[stage.id].dateFrom|date("d/m/Y") ~ " - " ~ voyageStats.stagesStats[stage.id].dateTo|date("d/m/Y") %}
<li data-stage-id="{{ stage.id }}">
    <div class="row">
        <div class="col-sm-3">
            <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
        </div>
        <div class="col-sm-3">
            <a href="{{ path('country', {'slug' : destination.country.slug }) }}">{{ destination.country.name }}</a>
        </div>
        <div class="col-sm-1">
            <span class="stageStars" data-stage-id="{{ stage.id }}">
                {{ voyageStats.stagesStats[stage.id].starsView | raw }}
            </span>
        </div>
        <div class="col-sm-2">
            <a href="#" class="nbDaysStage" data-pk="{{ stage.id }}" data-value="{{ stage.nbDays }}">{{ stage.nbDays }} jour{% if stage.nbDays > 2 %}s{% endif %}</a>
        </div>
        <div class="col-sm-3">
            <span class="stagePrice" data-stage-id="{{ stage.id }}">{{ (destination.prices.accommodation + destination.prices['life cost']) * stage.nbDays }} €</span>
            <button type="button" class="btn btn-danger btn-xs pull-right btnDeleteStage"
                    data-loading-text="Suppression ..."
                    data-stage-id="{{ stage.id }}"><i class="fa fa-trash"></i> Supprimer</button>
        </div>
    </div>
</li>
