{% extends "::layout.html.twig" %}

{% block title %}
    {{ voyage.name }} - tableau de bord - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h1>{{ voyage.name }}</h1>
            </div>
        </div>

        <div class="row" style="padding: 30px">
            <div class="col-md-12">
                <div id="gmap"></div>
            </div>
        </div>


        <div class="row" style="padding: 30px; background-color: #4C84B2; color: white;">
            <div class="col-md-6">
                <blockquote>
                    <h4>
                        Nombre d'étape<span class="pull-right label label-danger">{{ voyageStats.nbStages }}</span>
                    </h4>
                    <h4>
                        Durée du voyage<span class="pull-right label label-danger">
                            {{ voyageStats.nbDays }} jour{% if voyageStats.nbDays > 1 %}s{% endif %}</span>
                    </h4>
                    <h4>
                        Date de départ<span
                                class="pull-right label label-danger">{{ voyageStats.startDate|date("d/m/Y") }}</span>
                    </h4>
                    <h4>
                        Date de retour<span
                                class="pull-right label label-danger">{{ voyageStats.endDate|date("d/m/Y") }}</span>
                    </h4>
                    <h4>
                        Nombre de pays traversés<span
                                class="pull-right label label-danger">{{ voyageStats.nbCountries }}</span>
                    </h4>
                </blockquote>
            </div>


        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('/js/maplace.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
        {#var addStepUrl = "{{ path('addStep', {'id' : destination.id}) }}";#}
        {#var removeStepUrl = "{{ path('removeStep', {'id' : 0}) }}";#}


    </script>
    <script src="{{ asset('bundles/app/js/dashboard/maplaceDashboard.js') }}"></script>
    {#<script src="{{ asset('bundles/app/js/dashboard/dashboard.js') }}"></script>#}

{% endblock %}


