<div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addToVoyageModal"
                data-destination-name="{{ destination.name }}">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    {% else %}
        <a href="/login" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter à
            votre voyage</a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') and stages is defined %}

        {% for stage in stages %}
            <button type="button" class="btn btn-danger"
                    data-stage-id="{{ stage.id }}"
                    data-stage-nb-days="{{ stage.nbDays }}"
                    data-stage-position="{{ stage.position }}"
                    data-destination-name="{{ destination.name }}"
                    data-toggle="modal"
                    data-target="#removeFromVoyageModal">
                <i class="fa fa-minus"></i> {{ stage.nbDays }} jour{% if stage.nbDays > 1 %}s{% endif %}
            </button>
        {% endfor %}
    {% endif %}
</div>

