<div class="text-center">
    <img src="http://www.geonames.org/flags/x/{{ destination.country.codeAlpha2|lower }}.gif"
         class="flagCountrySmall flagGmap" alt="drapeau {{ destination.country.name }}">

    <a href="{{ path('destination', {'slug' : destination.slug }) }}" class="markerLabel">{{ destination.name }}</a>

    <br>
    <span class="label label-success markerPrice">
        {{ destination.totalPrices }} &euro; / jour
    </span>
</div>
