{% set activeDestinations = true %}
{% extends "::layout.html.twig" %}

{% block metaDescription %}Liste des destinations référencées sur Le Monde en Sac. Japon, Etas-Unis, Vietnam, Argentine, Cambodge, Hongrie ...{% endblock %}
{% block metaKeyword %}, liste, liste des destinations{% endblock %}

{% block title %}
    Liste des destinations - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/select2/select2-bootstrap.css') }}">
{% endblock %}

{% block body %}
    <div id="destinationsListView">

        <div class="container-fluid containerOrange">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 page-header">
                        <h1>
                            Liste des destinations
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid containerOrange containerPadding">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">

                        <form action="#" method="post">

                            <div class="form-group" id="formGroupDestinations">

                                <div class="input-group input-group-lg select2-bootstrap-append">
                                    {% include 'AppBundle:Destination:selectDestination.html.twig'
                                    with {'classSelect' : 'input-lg',
                                    'selectId' : 'searchDestination',
                                    'addCountrySelected' : true} %}

                                    <span class="input-group-btn">
                                        <button id="btnSeeDestination" class="btn btn-primary" type="button">
                                            Voir <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </span>
                                </div>


                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid containerPadding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="gmap"></div>
                    </div>
                </div>
            </div>
        </div>


        {#<div class="container-fluid containerPadding">#}
            {#<div class="container">#}
                {#<div class="row">#}

                    {#{% for country in countries %}#}

                        {#<div class="col-lg-3 col-md-4 col-sm-6">#}

                            {#<a href="{{ path('country', {'slug' : country.slug }) }}">#}
                                {#<h4>{{ country.name }}</h4>#}
                            {#</a>#}

                            {#<ul class="list-unstyled">#}
                                {#{% for destination in country.destinations %}#}
                                    {#<li>#}
                                        {#<a href="{{ path('destination', {'slug' : destination.slug }) }}">#}
                                            {#<span class="label label-success pull-left" style="font-size: 12px;">#}
                                                {#{{ destination.totalPrices }} &euro; / jour#}
                                            {#</span>#}
                                            {#<span class="destinationName">#}
                                                {#{{ destination.name }}#}
                                            {#</span>#}
                                        {#</a>#}
                                    {#</li>#}
                                {#{% endfor %}#}
                            {#</ul>#}

                        {#</div>#}

                    {#{% endfor %}#}

                {#</div>#}
            {#</div>#}
        {#</div>#}


    </div>

{% endblock %}


{% block footer %}
    {{ parent() }}
    {% include 'AppBundle:Common:listCountries.html.twig' with {'addDestinations' : true} %}
{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('/js/maplace.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
    </script>
    <script src="{{ asset('/js/select2/select2.js') }}"></script>
    <script src="{{ asset('/js/select2/select2_locale_fr.js') }}"></script>
    <script src="{{ asset('bundles/app/js/destination/listDestinations.js') }}"></script>
    <script src="{{ asset('bundles/app/js/destination/maplaceListDestinations.js') }}"></script>

{% endblock %}

