{#   DOC Select 2   #}
{#https://github.com/select2/select2/releases/tag/3.5.3#}
{#https://fk.github.io/select2-bootstrap-css/index.html#}
{#http://select2.github.io/select2/#}


<select class="form-control destination {% if classSelect is defined %}{{ classSelect }}{% endif %}" required="required" id="{{ selectId }}">
    <option></option>
    {% for country in countries %}
        <optgroup label="{{ country.name }}" data-country-code="{{ country.codeAlpha2 }}">

            {% if addCountrySelected is defined and addCountrySelected %}
                {% if not country.redirectToDestination %}
                <option data-href="{{ path('country', {'slug' : country.slug }) }}" value="{{ country.id }}">{{ country.name }} (pays)</option>
                {% endif %}
            {% endif %}

            {% for destination in country.destinations %}
                <option data-href="{{ path('destination', {'slug' : destination.slug }) }}" value="{{ destination.id }}">{{ destination.name }}</option>
            {% endfor %}

        </optgroup>
    {% endfor %}
</select>
