{#doc : https://select2.github.io/examples.html #}
{#doc : https://github.com/select2/select2-bootstrap-theme #}
<select class="form-control input-lg" id="destination" >
    <option></option>
    {% for country in countries %}
        <optgroup label="{{ country.name }}">
            {% if addCountrySelected is defined and addCountrySelected %}
                <option data-href="{{ path('country', {'slug' : country.slug }) }}" value="{{ country.id }}">{{ country.name }} (pays)</option>
            {% endif %}
            {% for destination in country.destinations %}
                <option data-href="{{ path('destination', {'slug' : destination.slug }) }}" value="{{ destination.id }}">{{ destination.name }}</option>
            {% endfor %}
        </optgroup>
    {% endfor %}
</select>
