{% set activeDestinations = true %}
{% extends "::layout.html.twig" %}

{% set description = destination.name ~ " - " ~ destination.country.name ~ ", " ~ destination.totalPrices ~ " €  par jour. A faire : " ~ destination.tips[0] %}
{% block metaDescription %}{{ description }}{% endblock %}
{% block metaKeyword %}, destination, {{ destination.name }}, {{ destination.country.name }}{% endblock %}

{% block title %}
    {{ destination.name }} - {{ parent() }}
{% endblock %}


{% set bannerAssetURL = image_banner_destinations_path ~ destination.slug ~ '.JPG' %}
{% set bannerUrl = image_banner_default %}
{% if bannerAssetURL|asset_exists %}
    {% set bannerUrl = bannerAssetURL %}
{% endif %}

{% set title = destination.name ~ " - " ~ destination.country.name %}

{% block opengraph %}
    {{ parent() }}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ absolute_url(asset(bannerUrl)) }}"/>
    <meta property="og:image:width" content="1500"/>
    <meta property="og:description" content="{{ description }}"/>
{% endblock %}


{% block tweeterCard %}
    {{ parent() }}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ absolute_url(asset(bannerUrl)) }}">
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('assets/bootstrap-social/bootstrap-social.css') }}">#}
{% endblock %}


{% block body %}
    <div id="destinationView">

        <img src="{{ asset(bannerUrl) }}" class="img-responsive" alt="{{ destination.name }}">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 page-header">
                    <h1>
                        {{ destination.name }}
                        {% if destination.country.redirectToDestination == false %}
                            <small>
                                -
                                <a href="{{ path('country', {'slug' : destination.country.slug }) }}">{{ destination.country.name }}</a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>


        <div class="container-fluid containerMap">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 col-md-4">
                    {#<div class="row">#}
                    {#<div class="col-md-12" id="btnAddToVoyage">#}
                    {#{{ btnAddToVoyage | raw }}#}
                    {#</div>#}
                    {#</div>#}

                    <h2>Description</h2>

                    {% for description in destination.description %}
                        <p class="text-justify">{{ description }}</p>
                    {% endfor %}

                </div>
                <div class="gmapPaddingTop15 col-lg-7 col-md-8">
                    <div id="gmap"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid containerBlue containerPadding">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <h2>Budget Backpacker / Sac à dos</h2>
                        </div>

                        <div class="col-md-12">
                            <blockquote>
                                <h4>
                                    Coût moyen de la vie sur place
                                        <span class="pull-right label label-danger">{{ destination.totalPrices }}
                                            €</span>
                                </h4>
                                <footer style="color: silver;">
                                    Prix moyen de l'hébergement
                                    <i class="fa fa-info-circle informationIcon"
                                       data-toggle="tooltip" data-placement="top" title="Hébergement en dortoir
                                           dans une bonne auberge de jeunesse."></i>
                                        <span
                                            class="pull-right label label-info">{{ destination.priceAccommodation }}
                                            €</span>
                                </footer>
                                <footer style="color: silver;">
                                    Dépenses quotidiennes moyennes
                                    <i class="fa fa-info-circle informationIcon"
                                       data-toggle="tooltip" data-placement="top" title="Transport en commun,
                                           repas et visite d'une attraction."></i>
                                        <span class="pull-right label label-info">{{ destination.priceLifeCost }}
                                            €</span>
                                </footer>
                            </blockquote>
                        </div>
                    </div>

                    <div class="row text-justify">
                        <div class="col-md-12">
                            <h2>À faire</h2>
                        </div>

                        <div class="col-md-12">
                            <ul>
                                {% for tip in destination.tips %}
                                    <li>{{ tip }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1">
                    <h2>
                        Périodes
                        <i class="fa fa-info-circle informationIcon"
                           data-toggle="tooltip" data-placement="right" title="Basées sur le climat."></i>
                    </h2>

                    <div class="row" style="color: #000000;">
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Janvier
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodJanuary } %}
                                </li>
                                <li class="list-group-item">
                                    Février
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodFebruary } %}
                                </li>
                                <li class="list-group-item">
                                    Mars
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodMarch } %}
                                </li>
                                <li class="list-group-item">
                                    Avril
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodApril } %}
                                </li>
                                <li class="list-group-item">
                                    Mai
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodMay } %}
                                </li>
                                <li class="list-group-item">
                                    Juin
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodJune } %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Juillet
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodJuly } %}
                                </li>
                                <li class="list-group-item">
                                    Août
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodAugust } %}
                                </li>
                                <li class="list-group-item">
                                    Septembre
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodSeptember } %}
                                </li>
                                <li class="list-group-item">
                                    Octobre
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodOctober } %}
                                </li>
                                <li class="list-group-item">
                                    Novembre
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodNovember } %}
                                </li>
                                <li class="list-group-item">
                                    Décembre
                                    {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periodDecember } %}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% set countryDestinations = destination.country.destinations %}
        {% if countryDestinations|length > 1 %}
            <div class="container-fluid containerPadding">

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-12">
                        <h3>{{ destination.country.name }} - les destinations du pays</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-12">
                        {% for countryDestination in countryDestinations %}
                            {% include 'AppBundle:Vignette:destinationLarge.html.twig'
                            with {
                            'currentDestinationSlug' : destination.slug,
                            'destination' : countryDestination
                            } %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        {% endif %}

        {#<div class="container-fluid containerPadding">#}
        {#<div class="container">#}
        {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'destination_' ~ destination.id} %}#}
        {#</div>#}
        {#</div>#}

        {#{% include 'AppBundle:Destination:destinationShareBtn.html.twig' %}#}

        {#{% include 'AppBundle:Destination:addAndRemoveToVoyageModal.html.twig' %}#}

    </div>

{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('assets/maplace-js/dist/maplace.min.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
        {#var addStageUrl = "{{ path('addStage', {'id' : destination.id}) }}";#}
        {#var removeStageUrl = "{{ path('removeStage', {'id' : 0}) }}";#}
    </script>
    <script src="{{ asset('js/destination.min.js') }}"></script>
{% endblock %}


