{% set activeDestinations = true %}
{% extends "::layout.html.twig" %}

{% block metaDescription %}{% if destination.description is not empty %}{{ destination.description[0] }}{% else %}{{ destination.name }} - {{ destination.country.name }}{% endif %}{% endblock %}
{% block metaKeyword %}, destination, {{ destination.name }}, {{ destination.country.name }}{% endblock %}

{% block title %}
    {{ destination.name }} - {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-social.css') }}">
{% endblock %}


{% block body %}
    <div id="destinationView">

        {% set bannerAssetURL = image_banner_destinations_path ~ destination.slug ~ '.JPG' %}
        {% set bannerUrl = image_banner_default %}
        {% if bannerAssetURL|asset_exists %}
            {% set bannerUrl = bannerAssetURL %}
        {% endif %}

        <img src="{{ asset(bannerUrl) }}" class="img-responsive" alt="{{ destination.name }}">

        <div class="container-fluid">
            <div class="container page-header">
                <h1>
                    {{ destination.name }}
                    {% if destination.country.redirectToDestination == false %}
                        <small>
                            -
                            <a href="{{ path('country', {'slug' : destination.country.slug }) }}">{{ destination.country.name }}</a>
                        </small>
                    {% endif %}
                </h1>
            </div>
        </div>


        <div class="container-fluid containerMap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12" id="btnAddToVoyage">
                                {{ btnAddToVoyage | raw }}
                            </div>
                        </div>

                        <h2>Description</h2>

                        {% for description in destination.description %}
                            <p class="text-justify">{{ description }}</p>
                        {% endfor %}

                    </div>
                    <div class="col-md-8">
                        <div id="gmap"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid containerBlue containerPadding">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-12">
                                <blockquote>
                                    <h4>
                                        Coût moyen de la vie sur place<span
                                                class="pull-right label label-danger">{{ destination.prices.accommodation + destination.prices['life cost'] }}
                                            €</span>
                                    </h4>
                                    <footer style="color: silver;">
                                        Prix moyen de l'hébergement<span
                                                class="pull-right label label-primary">{{ destination.prices.accommodation }}
                                            €</span>
                                    </footer>
                                    <footer style="color: silver;">
                                        Dépenses quotidiennes moyenne<span
                                                class="pull-right label label-primary">{{ destination.prices['life cost'] }}
                                            €</span>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>

                        <div class="row">
                            <h2>À faire</h2>

                            <div class="col-md-12">
                                <ul>
                                    {% for tip in destination.tips %}
                                        <li>{{ tip }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h2>Périodes</h2>

                        <div class="row" style="color: #000000;">
                            <div class="col-sm-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Janvier
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.january } %}
                                    </li>
                                    <li class="list-group-item">
                                        Février
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.february } %}
                                    </li>
                                    <li class="list-group-item">
                                        Mars
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.march } %}
                                    </li>
                                    <li class="list-group-item">
                                        Avril
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.april } %}
                                    </li>
                                    <li class="list-group-item">
                                        Mai
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.may } %}
                                    </li>
                                    <li class="list-group-item">
                                        Juin
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.june } %}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Juillet
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.july } %}
                                    </li>
                                    <li class="list-group-item">
                                        Août
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.august } %}
                                    </li>
                                    <li class="list-group-item">
                                        Septembre
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.september } %}
                                    </li>
                                    <li class="list-group-item">
                                        Octobre
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.october } %}
                                    </li>
                                    <li class="list-group-item">
                                        Novembre
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.november } %}
                                    </li>
                                    <li class="list-group-item">
                                        Décembre
                                        {% include 'AppBundle:Destination:stars.html.twig' with {'nbStars' : destination.periods.december } %}
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% set countryDestinations = destination.country.destinations %}
        {% if countryDestinations|length > 1 %}
            <div class="container-fluid containerPadding">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ destination.country.name }} - les destinations du pays</h3>
                        </div>
                    </div>

                    <div class="row">
                        {% for countryDestination in countryDestinations %}
                            {% include 'AppBundle:Vignette:destination.html.twig'
                            with {
                            'currentDestinationSlug' : destination.slug,
                            'destination' : countryDestination
                            } %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}

        {#<div class="container-fluid containerPadding">#}
            {#<div class="container">#}
                {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'destination_' ~ destination.id} %}#}
            {#</div>#}
        {#</div>#}

        {% include 'AppBundle:Destination:destinationShareBtn.html.twig' %}

        {% include 'AppBundle:Destination:addAndRemoveToVoyageModal.html.twig' %}

    </div>

{% endblock %}


{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    {{ parent() }}
    <script src="{{ asset('/js/maplace.js') }}"></script>
    <script>
        var maplaceData = {{ maplaceData|raw }};
        var addStageUrl = "{{ path('addStage', {'id' : destination.id}) }}";
        var removeStageUrl = "{{ path('removeStage', {'id' : 0}) }}";
    </script>
    <script src="{{ asset('bundles/app/js/destination/maplaceDestination.js') }}"></script>
    <script src="{{ asset('bundles/app/js/destination/destination.js') }}"></script>

{% endblock %}


