{% set bannerAssetURL = image_banner_destinations_path ~ destination.slug ~ '.JPG' %}
{% set bannerUrl = image_banner_default %}
{% if bannerAssetURL|asset_exists %}
    {% set bannerUrl = bannerAssetURL %}
{% endif %}

{% if currentDestinationSlug is not defined %}
    {% set currentDestinationSlug = '' %}
{% endif %}

{% if currentDestinationSlug != destination.slug %}
<a href="{{ path('destination', {'slug' : destination.slug }) }}" class="vignetteDestination" data-destinationid="{{ destination.id }}">
    {% endif %}

    <img class="img-responsive img-thumbnail" src="{{ asset(bannerUrl) }}"
         alt="{{ destination.name }}">

    <h4 class="vignetteTitle">
        {{ destination.name }}
        <span class="label label-success pull-right vignetteFontSize">
                {% if destinationPrices is defined %}
                    {{ destinationPrices }} &euro; / jour
                {% else %}
                    {{ destination.totalPrices }} &euro; / jour
                {% endif %}
            </span>

    </h4>

    {% if currentDestinationSlug != destination.slug %}
</a>
{% endif %}

