<div class="col-md-4 col-sm-6 containerPadding15">

    <a href="{{ url('shareVoyage', {'token' : typicalVoyage.voyage.token}) }}">
        <img src="{{ asset('paris_500.jpg') }}"
             class="img-responsive img-thumbnail"
             alt="{{ typicalVoyage.voyage.name }}">


        <h2 class="text-center">{{ typicalVoyage.voyage.name }}</h2>
    </a>

    <div class="text-center">
        <span class="label label-primary">{{ typicalVoyage.nbDays }} jours</span>
        <span class="label label-success">{{ typicalVoyage.price|number_format(0, ',', ' ') }} &euro;</span>
    </div>

</div>
