{% set activeDashboard = true %}
{% extends "::layout.html.twig" %}

{% block title %}
    Création de votre voyage - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calculator.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/select2-bootstrap-css/select2-bootstrap.min.css') }}">
{% endblock %}

{% block body %}

    <div id="createVoyage" class="container-fluid containerPadding">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 page-header">
                <h1>Création de votre voyage</h1>
            </div>

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="well">
                    {% include 'CalculatorBundle:Voyage:createForm.html.twig' with {'selectId' : 'selectDestination'} %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'budapest' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'phnom-penh' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'quebec' })) }}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/select2/select2_locale_fr.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script>
        var voyageCRUDCreateUrl = "{{ path('voyageCRUDCreate') }}";
    </script>
    <script src="{{ asset('js/createVoyage.min.js') }}"></script>
{% endblock %}
