{% set title = voyage.name ~ " - tableau de bord" %}
{% set description = "Le tableau de bord de votre voyage" %}
{% set type = "article" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}
{% if voyageStats.mainDestination is not empty %}
    {% set imageUrl = image_banner_destinations_path ~ voyageStats.mainDestination.slug ~ '.JPG' %}
{% endif %}

{% set activeDashboard = true %}
{% extends "::layout.html.twig" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
    {{ parent() }}
    {% stylesheets output='css/calculator.{version}.min.css' '@CalculatorBundle/Resources/public/css/dist/*' vars=["version"] filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/select2-bootstrap-css/select2-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}">
{% endblock %}


{% block body %}
    <div id="dashboard">
        {% include 'CalculatorBundle:Voyage:dashboardHeader.html.twig' %}

        {% include 'CalculatorBundle:Voyage:dashboardGmap.html.twig' %}

        {% include 'CalculatorBundle:Voyage:dashboardAddDestination.html.twig' %}

        <span id="dashboardDestinationsListContainer">
            {% include 'CalculatorBundle:Voyage:dashboardDestinationsList.html.twig' %}
        </span>

        <span id="dashboardStatsContainer">
            {% include 'CalculatorBundle:Voyage:dashboardStats.html.twig' %}
        </span>

        {% include 'CalculatorBundle:Voyage:dashboardShare.html.twig' %}

        {% include 'CalculatorBundle:Voyage:updateModal.html.twig' %}

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/select2/select2_locale_fr.js') }}"></script>
    <script src="{{ asset('assets/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script src="//cdn.jsdelivr.net/sortable/1.2.1/Sortable.min.js"></script>
    <script src="{{ asset('assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-confirmation2/bootstrap-confirmation.min.js') }}"></script>
    {% include 'AppBundle:Common:mapScriptsImportation.html.twig' %}
    <script>
        var listCountriesInVoyage = {{ voyageStats.listCountries|json_encode|raw }};
        var changePositionStageUrl = "{{ path('changePositionStage', {'voyageId' : voyage.id, 'stageId' : 0}) }}";
        var addStageDestinationUrl = "{{ path('addStageDestination', {'voyageId' : voyage.id, 'destinationId' : 0}) }}";
        var addStageCountryUrl = "{{ path('addStageCountry', {'voyageId' : voyage.id, 'countryId' : 0}) }}";
        var removeStageUrl = "{{ path('removeStage', {'voyageId' : voyage.id, 'stageId' : 0}) }}";
        var changeNbDaysStageUrl = "{{ path('changeNbDaysStage') }}";

        var currentVoyageName = "{{ voyage.name|raw }}";
        var currentStartDestinationId = "{{ voyage.startDestination.id }}";

        var currentStartDate = new Date(
                {{ voyage.startDate|date('Y') }},
                {{ voyage.startDate|date('m') }} -1,
                {{ voyage.startDate|date('d') }});

        var voyageCRUDUpdateUrl = "{{ path('voyageCRUDUpdate', {'id' : voyage.id}) }}";
        var voyageCRUDUpdateShowPricesInPublicUrl = "{{ path('voyageCRUDUpdateShowPricesInPublic', {'id' : voyage.id}) }}";

        var changeTransportTypeVoyageUrl = "{{ path('changeTransportTypeVoyage', {'id' : 0}) }}";
        var changeTransportTypeStageUrl = "{{ path('changeTransportTypeStage', {'voyageId' : voyage.id, 'stageId' : 0}) }}";
    </script>
    {% javascripts output='js/dashboard/app.{version}.min.js' '@CalculatorBundle/Resources/public/js/dist/dashboard/*.min.js' vars=["version"] %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


