{% if hidePrices is not defined %}
    {% set hidePrices = false %}
{% endif %}

<div class="container-fluid containerBlue containerPadding" id="containerStats">
    <div class="container">

        <div class="row">
            <div class="col-md-4 {% if hidePrices == true %}col-md-offset-1{% endif %}">
                <h3 class="text-center">
                    <span class="label label-warning">
                        <i class="fa fa-calendar iconStatsVoyage"></i> {{ voyageStats.nbDays }}
                        jour{% if voyageStats.nbDays > 1 %}s{% endif %}</span>
                </h3>
                <blockquote class="col-lg-10 col-lg-offset-1">
                    <p>
                        Départ <span
                                class="pull-right">{{ voyageStats.startDate|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}</span>
                    </p>

                    <p>
                        Retour <span
                                class="pull-right">{{ voyageStats.endDate|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}</span>
                    </p>
                </blockquote>
            </div>

            {% if hidePrices == false %}
                <div class="col-md-4">
                    <h3 class="text-center">
                        <span class="label label-success">
                            <i class="fa fa-money iconStatsVoyage"></i> {{ voyageStats.totalCost|number_format(0, ',', ' ') }} &euro;
                        </span>
                    </h3>
                    <blockquote class="col-lg-8 col-lg-offset-2">
                        <p>
                            Transport <span
                                    class="pull-right">{{ voyageStats.totalCostTransport|number_format(0, ',', ' ') }} &euro;</span>
                        </p>
                        <p>
                            Logement <span
                                    class="pull-right">{{ voyageStats.totalCostAccommodation|number_format(0, ',', ' ') }} &euro;</span>
                        </p>

                        <p>
                            Autre <span
                                    class="pull-right">{{ voyageStats.totalCostLifeCost|number_format(0, ',', ' ') }} &euro;</span>
                        </p>
                    </blockquote>
                </div>
            {% endif %}

            <div class="col-md-4 {% if hidePrices == true %}col-md-offset-2{% endif %}">
                <h3 class="text-center">
                    <span class="label label-danger">
                        <i class="fa fa-map-marker iconStatsVoyage"></i> {{ voyageStats.nbStages }}
                        étape{% if voyageStats.nbStages > 1 %}s{% endif %}</span>
                </h3>
                <blockquote class="col-lg-10 col-lg-offset-1">
                    <p>
                        Nombre de pays <span class="pull-right">{{ voyageStats.nbCountries }} pays</span>
                    </p>

                    <p>
                        Distance parcourue <span class="pull-right">
                                    {{ voyageStats.crowFliesDistance|round|number_format(0, ',', ' ') }} km
                                </span>
                    </p>
                </blockquote>
            </div>
        </div>

    </div>
</div>

