{% if hidePrices is not defined %}
    {% set hidePrices = false %}
{% endif %}

{% if allowModification is not defined %}
    {% set allowModification = true %}
{% endif %}

<div class="container-fluid containerPadding15">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-12">
            <h2 class="titleOrange">
                {% if stagesSorted|length > 0 %}
                    Liste des destinations
                {% else %}
                    Aucune destination
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">

        {% if hidePrices == false and allowModification == true %}
            <div class="col-lg-offset-1 col-lg-10 col-md-12" style="height: 25px">

                <div class="col-md-2 col-sm-1 col-xs-6">
                    <span style="padding-left: 25px" class="hidden-sm">
                        <strong>Pays</strong>
                    </span>
                </div>

                <div class="col-md-3 col-sm-2 col-xs-6">
                    <span>
                        <strong>Destination</strong>
                    </span>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-11 hidden-xs">
                    <strong>Date d'arrivée</strong>
                    <span class="pull-right" style="padding-right: 5px;">
                        <strong>Période</strong>
                    </span>
                </div>

                <div class="col-md-4 col-sm-5 col-xs-12 hidden-xs">
                    <strong>Jours sur place</strong>
                    <span class="pull-right" style="padding-right: 60px">
                        <strong>Budget</strong>
                    </span>
                </div>

            </div>
        {% else %}
            <div class="col-lg-offset-1 col-lg-10 col-md-12" style="height: 25px">

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <span style="padding-left: 25px" class="hidden-sm">
                        <strong>Pays</strong>
                    </span>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <span>
                        <strong>Destination</strong>
                    </span>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-9 hidden-xs">
                    <strong>Date d'arrivée</strong>
                    <span class="pull-right" style="padding-right: 5px;">
                        <strong>Période</strong>
                    </span>
                </div>

                <div class="col-md-3 col-sm-2 col-xs-3 text-right hidden-xs">
                    <strong>Jours sur place</strong>
                </div>

            </div>

        {% endif %}

        <div class="col-lg-offset-1 col-lg-10 col-md-12">
            <ul id="listDestinations">


                {% if hidePrices == false and allowModification == true %}
                    <div class="stageStyle">
                        <div class="row">

                            <div class="col-md-2 col-sm-1 col-xs-6 ellipsis">
                                <span class="handle-fa-icon"><i class="fa fa-lg fa-lock"></i></span>
                                <img class='flagCountrySmall flagCountryStage'
                                     src='http://www.geonames.org/flags/x/{{ voyage.startDestination.country.codeAlpha2|lower }}.gif'/>
                                <a class="hidden-sm"
                                   href="{{ path('country', {'slug' : voyage.startDestination.country.slug }) }}">{{ voyage.startDestination.country.name }}</a>
                            </div>

                            <div class="col-md-3 col-sm-2 col-xs-6 ellipsis">
                                <a href="{{ path('destination', {'slug' : voyage.startDestination.slug }) }}">{{ voyage.startDestination.name }}</a>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-11">
                                Début du voyage
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="stageStyle">
                        <div class="row">

                            <div class="col-md-3 col-sm-3 col-xs-6 ellipsis">
                                <span class="handle-fa-icon"><i class="fa fa-lg fa-lock"></i></span>
                                <img class='flagCountrySmall flagCountryStage'
                                     src='http://www.geonames.org/flags/x/{{ voyage.startDestination.country.codeAlpha2|lower }}.gif'/>
                                <a class="hidden-sm"
                                   href="{{ path('country', {'slug' : voyage.startDestination.country.slug }) }}">{{ voyage.startDestination.country.name }}</a>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 ellipsis">
                                <a href="{{ path('destination', {'slug' : voyage.startDestination.slug }) }}">{{ voyage.startDestination.name }}</a>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-9">
                                Début du voyage
                            </div>
                        </div>
                    </div>
                {% endif %}






                {% for stage in stagesSorted %}
                    {% if hidePrices == false and allowModification == true %}
                        {% include 'CalculatorBundle:Voyage:stage.html.twig' %}
                    {% elseif hidePrices == false and allowModification == false %}
                        {% include 'CalculatorBundle:Share:stageWithPrices.html.twig' %}
                    {% else %}
                        {% include 'CalculatorBundle:Share:stageWithoutPrices.html.twig' %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
