<div class="stageStyle stageStylePadding">
    <div class="row">

        <div class="col-md-2 col-sm-1 col-xs-6 ellipsis">
            {% if allowModification %}
                <span class="handle-fa-icon"><i class="fa fa-lg fa-lock"></i></span>
            {% endif %}
            <img class='flagCountrySmall flagCountryStage'
                 src='http://www.geonames.org/flags/x/{{ voyage.startDestination.country.codeAlpha2|lower }}.gif'/>
            <a class="hidden-sm"
               href="{{ path('country', {'slug' : voyage.startDestination.country.slug }) }}">{{ voyage.startDestination.country.name }}</a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 ellipsis">
            <a href="{{ path('destination', {'slug' : voyage.startDestination.slug }) }}">{{ voyage.startDestination.name }}</a>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-11">
            Début du voyage
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6 colNbDays">

            <span class="pull-right spanPrices">
                {% set priceAndTimeTransport = voyage.priceAndTimeTransport %}
                {% if priceAndTimeTransport is null %}
                    <span class="label label-warning" data-toggle="tooltip" data-placement="top"
                          title="Prix non disponibles pour le moment">
                        <i class="fa fa-lg fa-lock"></i>
                    </span>
                {% else %}

                    {% set hours = (priceAndTimeTransport.time / 60)|round(0, 'floor') %}
                    {% set minutes = priceAndTimeTransport.time % 60 %}
                    {% if minutes == 0 %}
                        {% set minutes = "00" %}
                    {% elseif minutes < 10 %}
                        {% set minutes = "0" ~ minutes %}
                    {% endif %}
                    <span class="label label-warning" data-toggle="tooltip" data-placement="left"
                          title="{% if hours > 0 %}{{ hours }}{% endif %}h{{ minutes }}">

                        {% if priceAndTimeTransport.transportType == "FLY" %}
                            <i class="fa fa-plane iconPriceJourney"></i>
                        {% elseif priceAndTimeTransport.transportType == "BUS" %}
                            <i class="fa fa-road iconPriceJourney"></i>
                        {% elseif priceAndTimeTransport.transportType == "TRAIN" %}
                            <i class="fa fa-train iconPriceJourney"></i>
                        {% elseif priceAndTimeTransport.transportType == "NONE" %}
                        {% endif %}

                        {{ priceAndTimeTransport.price|number_format(0, ',', ' ') }} €
                        </span>
                {% endif %}
            </span>
        </div>

    </div>
</div>