<div>
    <div class="row stageStylePadding stageStyle">

        <div class="col-md-2 col-sm-1 col-xs-6 ellipsis">
            {% if allowModification %}
                <span class="handle-fa-icon"><i class="fa fa-lg fa-lock"></i></span>
            {% endif %}
            <img class='flagCountrySmall flagCountryStage'
                 src='http://www.geonames.org/flags/x/{{ voyage.startDestination.country.codeAlpha2|lower }}.gif'/>
            <a class="hidden-sm"
               href="{{ path('country', {'slug' : voyage.startDestination.country.slug }) }}">{{ voyage.startDestination.country.name }}</a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 ellipsis">
            <a href="{{ path('destination', {'slug' : voyage.startDestination.slug }) }}">{{ voyage.startDestination.name }}</a>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-11">
            Début du voyage
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6 colNbDays">

            {% if hidePrices %}
                <span class="handle-fa-icon pull-right"><i class="fa fa-lg fa-lock"></i></span>
            {% else %}

                {% if voyage.stages|length > 0 %}
                    {% set priceAndTimeTransport = voyage.priceAndTimeTransport %}
                    <span class="pull-right spanPrices {% if priceAndTimeTransport is not null and allowModification %}priceJourney{% endif %}"
                          data-voyage-id="{{ voyage.id }}">
                    {% if priceAndTimeTransport is null %}
                        <span class="label label-warning" data-toggle="tooltip" data-placement="top"
                              title="Prix non disponibles pour le moment">
                            <i class="fa fa-lg fa-lock"></i>
                        </span>
                    {% else %}
                        <span class="label label-warning"
                                {% if not allowModification %}
                            data-toggle="tooltip" data-placement="left"
                            title="{{ priceAndTimeTransport.time|journeyTime }}"
                                {% endif %}>

                            {% if priceAndTimeTransport.transportType == "FLY" %}
                                <i class="fa fa-plane iconPriceJourney"></i>
                            {% elseif priceAndTimeTransport.transportType == "BUS" %}
                                <i class="fa fa-road iconPriceJourney"></i>
                            {% elseif priceAndTimeTransport.transportType == "TRAIN" %}
                                <i class="fa fa-train iconPriceJourney"></i>
                            {% elseif priceAndTimeTransport.transportType == "NONE" %}
                            {% endif %}

                            {{ priceAndTimeTransport.price|number_format(0, ',', ' ') }} €
                            </span>
                    {% endif %}
                </span>
                {% endif %}
            {% endif %}
        </div>

    </div>


    {% if voyage.availableJourney is not null and voyage.stages|length > 0 and not hidePrices %}
        <div class="row stageStylePadding stageStyle stageStyleJourneyRow rowHidden" data-voyage-id="{{ voyage.id }}">

            {% if voyage.availableJourney.flyPrices is not null %}
                <div class="col-md-3 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" data-voyage-id="{{ voyage.id }}" name="journeyVoyage{{ voyage.id }}"
                                   value="FLY" {% if priceAndTimeTransport.transportType == "FLY" %}checked{% endif %}>
                            Avion {{ voyage.availableJourney.flyPrices }} €
                            - {{ voyage.availableJourney.flyTime|journeyTime }} <i class="fa fa-plane"></i>
                        </label>
                    </div>
                </div>
            {% endif %}

            {% if voyage.availableJourney.trainPrices is not null %}
                <div class="col-md-3 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" data-voyage-id="{{ voyage.id }}" name="journeyVoyage{{ voyage.id }}"
                                   value="TRAIN"
                                   {% if priceAndTimeTransport.transportType == "TRAIN" %}checked{% endif %}>
                            Train {{ voyage.availableJourney.trainPrices }} €
                            - {{ voyage.availableJourney.trainTime|journeyTime }} <i class="fa fa-train"></i>
                        </label>
                    </div>
                </div>
            {% endif %}

            {% if voyage.availableJourney.busPrices is not null %}
                <div class="col-md-3 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" data-voyage-id="{{ voyage.id }}" name="journeyVoyage{{ voyage.id }}"
                                   value="BUS" {% if priceAndTimeTransport.transportType == "BUS" %}checked{% endif %}>
                            Bus {{ voyage.availableJourney.busPrices }} €
                            - {{ voyage.availableJourney.busTime|journeyTime }} <i class="fa fa-road"></i>
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-3 col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" data-voyage-id="{{ voyage.id }}" name="journeyVoyage{{ voyage.id }}"
                               value="NONE" {% if priceAndTimeTransport.transportType == "NONE" %}checked{% endif %}>
                        Rien 0 €
                    </label>
                </div>
            </div>

        </div>
    {% endif %}
</div>