{% set destination = stage.destination %}
{% set stageStats = voyageStats.stagesStats[stage.id] %}

<li class="stageMovable" data-stage-id="{{ stage.id }}">
    <div class="row stageStylePadding stageStyle">

        <div class="col-md-2 col-sm-1 col-xs-6 ellipsis">
            <span class="drag-handle handle-fa-icon"><i class="fa fa-lg fa-sort"></i></span>
            <img class='flagCountrySmall flagCountryStage'
                 src='http://www.geonames.org/flags/x/{{ destination.country.codeAlpha2|lower }}.gif'/>
            <a class="hidden-sm"
               href="{{ path('country', {'slug' : destination.country.slug }) }}">{{ destination.country.name }}</a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 ellipsis">
            <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-11 hidden-xs">
            <span class="stageStartDate" data-stage-id="{{ stage.id }}">
                {{ stageStats.dateFrom|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}
            </span>
            <span class="stageStars pull-right" data-stage-id="{{ stage.id }}">
                {{ stageStats.starsView | raw }}
            </span>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6 colNbDays">
            <a href="#" class="nbDaysStage" data-pk="{{ stage.id }}" data-value="{{ stage.nbDays }}">
                {% include 'AppBundle:Common:nbDays.html.twig' with {'nbDays' : stage.nbDays} %}
            </a>

            {% if not loop.last %}
                {% set priceAndTimeTransport = stage.priceAndTimeTransport %}

                <span class="pull-right spanPrices {% if priceAndTimeTransport is not null %}priceJourney{% endif %}" data-stage-id="{{ stage.id }}">
                    {% if priceAndTimeTransport is null %}
                        <span class="label label-warning" data-toggle="tooltip" data-placement="left"
                              title="Prix non disponibles pour le moment">
                            ?
                        </span>
                    {% else %}
                        <span class="label label-warning">

                            {% if priceAndTimeTransport.transportType == "FLY" %}
                                <i class="fa fa-plane iconPriceJourney"></i>
                            {% elseif priceAndTimeTransport.transportType == "BUS" %}
                                <i class="fa fa-road iconPriceJourney"></i>
                            {% elseif priceAndTimeTransport.transportType == "TRAIN" %}
                                <i class="fa fa-train iconPriceJourney"></i>
                            {% elseif priceAndTimeTransport.transportType == "NONE" %}
                            {% endif %}

                            {{ priceAndTimeTransport.price|number_format(0, ',', ' ') }} €
                            </span>
                    {% endif %}
                </span>
            {% endif %}
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 colDeleteStage">
            <button type="button" class="btn btn-danger btn-raised btn-xs pull-right btnDeleteStage"
                    style="margin: 0;"
                    data-stage-id="{{ stage.id }}"
                    data-toggle="confirmation" data-placement="left"
                    data-title="Supprimer cette étape ?"
                    data-btn-ok-class="btn btn-success btn-raised btn-sm" data-btn-ok-icon="fa fa-check"
                    data-btn-ok-label="Oui"
                    data-btn-cancel-class="btn btn-danger btn-raised btn-sm" data-btn-cancel-icon="fa fa-times"
                    data-btn-cancel-label="Non"
                    ><i class="fa fa-trash"></i>
            </button>

            <span class="stagePrice spanPrices" data-stage-id="{{ stage.id }}">
                <span class="label label-success">
                    {{ (destination.totalPrices * stage.nbDays)|number_format(0, ',', ' ') }} €
                </span>
            </span>

        </div>
    </div>

    {% if stage.availableJourney is not null and not loop.last %}
        <div class="row stageStylePadding stageStyle stageStyleJourneyRow rowHidden" data-stage-id="{{ stage.id }}">

            {% if stage.availableJourney.flyPrices is not null %}
                <div class="col-md-3 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" data-stage-id="{{ stage.id }}" name="journeyStage{{ stage.id }}" value="FLY" {% if priceAndTimeTransport.transportType == "FLY" %}checked{% endif %}>
                            Avion {{ stage.availableJourney.flyPrices }} € - {{ stage.availableJourney.flyTime|journeyTime }} <i class="fa fa-plane"></i>
                        </label>
                    </div>
                </div>
            {% endif %}

            {% if stage.availableJourney.trainPrices is not null %}
                <div class="col-md-3 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" data-stage-id="{{ stage.id }}" name="journeyStage{{ stage.id }}" value="TRAIN" {% if priceAndTimeTransport.transportType == "TRAIN" %}checked{% endif %}>
                            Train {{ stage.availableJourney.trainPrices }} € - {{ stage.availableJourney.trainTime|journeyTime }} <i class="fa fa-train"></i>
                        </label>
                    </div>
                </div>
            {% endif %}

            {% if stage.availableJourney.busPrices is not null %}
                <div class="col-md-3 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" data-stage-id="{{ stage.id }}" name="journeyStage{{ stage.id }}" value="BUS" {% if priceAndTimeTransport.transportType == "BUS" %}checked{% endif %}>
                            Bus {{ stage.availableJourney.busPrices }} € - {{ stage.availableJourney.busTime|journeyTime }} <i class="fa fa-road"></i>
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-3 col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" data-stage-id="{{ stage.id }}" name="journeyStage{{ stage.id }}" value="NONE" {% if priceAndTimeTransport.transportType == "NONE" %}checked{% endif %}>
                        Rien 0 €
                    </label>
                </div>
            </div>

        </div>
    {% endif %}
</li>
