{% set title = "E-mail de changement de mot de passe envoyé" %}
{% set description = "E-mail de changement de mot de passe envoyé" %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% set activeConnection = true %}
{% extends "::layout.html.twig" %}


{% block body %}

    <div class="container-fluid containerBlue containerPadding">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

                <p class="text-center lead">
                    Un email vient de vous être envoyer pour réinitialiser votre mot de passe
                </p>

                <p class="text-center">
                    <i class="fa fa-3x fa-check"></i>
                </p>

            </div>

        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 150px;"></div>
    </div>

    <div class="container-fluid containerPadding">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'barcelone' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'katmandou' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'phnom-penh' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'saint-petersbourg' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-jose' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'ushuaia' })) }}
            </div>
        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 50px;"></div>
    </div>

{% endblock %}
