<div id="homepageVignette" class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('paris_500.jpg') }}" alt="Paris" width="140" height="140">

            <h2>Paris</h2>

            <p>Paris est la ville lumière, les gents sont aps très sympa, le métro ets null mais c'est cool
                :)</p>

            <p><a class="btn btn-default" href="{{ path('destination', {'slug' : 'paris' }) }}" role="button">En
                    savoir plus</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('paris_500.jpg') }}" alt="Paris" width="140" height="140">

            <h2>Paris</h2>

            <p>Paris est la ville lumière, les gents sont aps très sympa, le métro ets null mais c'est cool
                :)</p>

            <p><a class="btn btn-default" href="{{ path('destination', {'slug' : 'paris' }) }}" role="button">En
                    savoir plus</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('paris_500.jpg') }}" alt="Paris" width="140" height="140">

            <h2>Paris</h2>

            <p>Paris est la ville lumière, les gents sont aps très sympa, le métro ets null mais c'est cool
                :)</p>

            <p><a class="btn btn-default" href="{{ path('destination', {'slug' : 'paris' }) }}" role="button">En
                    savoir plus</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('paris_500.jpg') }}" alt="Paris" width="140" height="140">

            <h2>Paris</h2>

            <p>Paris est la ville lumière, les gents sont aps très sympa, le métro ets null mais c'est cool
                :)</p>

            <p><a class="btn btn-default" href="{{ path('destination', {'slug' : 'paris' }) }}" role="button">En
                    savoir plus</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('paris_500.jpg') }}" alt="Paris" width="140" height="140">

            <h2>Paris</h2>

            <p>Paris est la ville lumière, les gents sont aps très sympa, le métro ets null mais c'est cool
                :)</p>

            <p><a class="btn btn-default" href="{{ path('destination', {'slug' : 'paris' }) }}" role="button">En
                    savoir plus</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{{ asset('paris_500.jpg') }}" alt="Paris" width="140" height="140">

            <h2>Paris</h2>

            <p>Paris est la ville lumière, les gents sont aps très sympa, le métro ets null mais c'est cool
                :)</p>

            <p><a class="btn btn-default" href="{{ path('destination', {'slug' : 'paris' }) }}" role="button">En
                    savoir plus</a></p>
        </div>
    </div>
</div>

